<div class="page">
  <div class="page-inner">
    <div class="container">
      <p>This Information is not visible for TPP</p>
      <h1 class="container__title">Confirm new AIS request</h1>
      <p class="container__text">
        TTP has requested the following account information from your bank accounts. If you agree to us providing this specific information, then please click the Confirm button below.</p>
      <ul class="container__list" *ngIf="Accounts">
          <ul class="container__account" *ngFor="let Account of Accounts">
            <li><span>{{Account.iban}}</span></li>
            <!--TODO: Change currency format -->
            <li *ngFor="let Balance of Account.balances"><span>{{Balance.balanceAmount.content}} {{Balance.balanceAmount.currency}}</span></li>
         </ul>
        <ul>Your Account Details:
          <li>Your Accounts Name and Number</li>
          <li>Your Accounts Balance</li>
        </ul>
        <ul>Your Account Transcations for the last {{TransactionLimit$ | async}} months
          <li>incoming and outgoing Transactions</li>
        </ul>
        <ul>Your Account Features and Benefits:
          <li>The Type of Accounts you have</li>
          <li>The Fees, Charges and Interests you pay</li>
        </ul>
        <ul>Your Regular Payments:
          <li>Your direct Debits</li>
          <li>Your standing Orders</li>
        </ul>
      </ul>
      <div *ngIf="Consent$ | async as Consent">
        <!--TODO: Change date format -->
      TPP will access your accounts till {{ Consent.validUntil }}
      </div>
      <div class="buttons-small">
        <button (click)=onClickCancel() type="button" name="decision" value="revoked" class="buttons-small btn--cancel">Cancel</button>
        <button (click)=onClickContinue() type="button" name="decision" value="confirmed" class="buttons-small btn--continue">Confirm</button>
      </div>
    </div>
  </div>
</div>
