.page {
  font-family: "Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  color: #33333382;
  font-weight: lighter;
}

.page-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.page__header {
  height: 100px;
  position: relative;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.header__logo img{
  display: inline-block;
  width: auto;
  height: 26px;
  padding: 0 20px 0 40px;
}



.header__title {
  display: inline-block;
  font-size: 28px;
  color: #0B3D5F;
  font-weight: bolder;
  margin: 0 0 6px;
}

.container {
  display: flex;
  flex-direction: column;
  padding-top: 3vh;
  align-items: center;
  width: 50%;

}

.container__icon img {
  width: 80px;
  height: auto;
  padding-bottom: 20px;
}

.container__title{
  display: block;
  text-align: center;
  color: #333333f0;
  font-size: 32px;
  justify-content: center;
  align-items: center;
}

.container__text {
  display: block;
  text-align: center;
  line-height: 60px;
  font-size: 23px;
  font-weight: 300;
  margin: auto;
  padding-top: 1.2vh;
  width: 750px;
}

.container__list {
  display: block;
  align-items: center;
  line-height: 60px;
  font-size: 20px;
  list-style-type: none;
  padding-bottom: 20px;
  padding-top: 20px;
  font-weight: 200;
}

.container__list span{
  font-weight: 400;
  color: #333333f0;
}


.authentication {
  padding-top: 10px;
  padding-bottom: 55px;
  font-weight: 200;
}


.authentication label {
  display: block;
  justify-content: center;
  font-size: 20px;
  padding-top: 36px;
  padding-bottom: 10px;
  text-align: left;
}

.authentication input {
  display: block;
  justify-content: center;
  border-width: 0 0 2px;
  border-color: #33333336;
  padding: 10px 10px;
  font-size: 24px;
  font-weight: 300;
  width: 400px;
}



.input--text [type="text"] {
  font-size: 24px;
  font-weight: 300;
}

.input--pw [type="password"]{
  -webkit-text-security: disc !important;

}


.button-large {
  display: block;
  background-color: #0E6EB4;
  border: none;
  color: #ffffff;
  padding: 10px;
  width: 422px;
  font-size: 22px;
  border-radius: 1px;
  font-weight: lighter;
  justify-content: center;
}



.buttons-small {
  display: flex;
  font-size: 22px;
  margin: 0 10px 0 10px;
  width: 500px;
  padding: 10px;
  justify-content: space-around;
  border-radius: 1px;

}

.button-small {
  display: block;
  font-size: 22px;
  border-radius: 1px;
  justify-content: center;
  padding: 10px;
  width:200px;
  font-weight: lighter;

}

.btn--continue {
  display: inline-block;
  background-color: #0E6EB4;
  color: white;
  font-weight: 100;

}

.btn--cancel {
  display: inline-block;
  background-color: #ffffff;
  color: #33333382;
  border-color: #33333369;
  font-weight: 300;

}

.page__footer {
  padding: 10px;

}

.paymentDetail {
  font-weight: bold;
}
