{{- if .Values.aspspMock.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
    name: {{ template "psd2.fullname" . }}-aspsp-mock-db
    labels:
{{ include "psd2.labels" . | indent 4 }}
type: Opaque
data:
  admin-password: {{ .Values.aspspMock.db.admin.password | b64enc }}
{{- if .Values.aspspMock.db.user }}
  username: {{ .Values.aspspMock.db.user.username | b64enc }}
  password: {{ .Values.aspspMock.db.user.password | b64enc }}
  database: {{ .Values.aspspMock.db.database.name | b64enc }}
{{- end }}
{{- end }}
