# ------------------------------------------------------------------
# variables
# ------------------------------------------------------------------

variables:
  GITLAB_REGISTRY: "gitlab-registry.adorsys.de"
  GITLAB_NAMESPACE: "adorsys/xs2a/aspsp-xs2a"

  OPENSHIFT_REGISTRY: "openshift-registry.adorsys.de:443"
  OPENSHIFT_NAMESPACE: "multibanking-xs2a"

  # XS2A Service
  GITLAB_IMAGE_NAME_XS2A: "${GITLAB_REGISTRY}/${GITLAB_NAMESPACE}"
  OPENSHIFT_IMAGE_NAME_XS2A: "${OPENSHIFT_REGISTRY}/${OPENSHIFT_NAMESPACE}/aspsp-xs2a"

  # Content management service
  GITLAB_IMAGE_NAME_CNT_MGMNT: "${GITLAB_REGISTRY}/${GITLAB_NAMESPACE}/cnt-mgmnt"
  OPENSHIFT_IMAGE_NAME_CNT_MGMNT: "${OPENSHIFT_REGISTRY}/${OPENSHIFT_NAMESPACE}/xs2a-cnt-mgmnt"

  # ASPSP Mock Server
  GITLAB_IMAGE_NAME_MOCKSRV: "${GITLAB_REGISTRY}/${GITLAB_NAMESPACE}/aspsp-mock-server"
  OPENSHIFT_IMAGE_NAME_MOCKSRV: "${OPENSHIFT_REGISTRY}/${OPENSHIFT_NAMESPACE}/aspsp-mock-server"

  # XS2A IDP Keycloak
  GITLAB_IMAGE_NAME_KEYCLOAK: "${GITLAB_REGISTRY}/${GITLAB_NAMESPACE}/keycloak-xs2a"
  OPENSHIFT_IMAGE_NAME_KEYCLOAK: "${OPENSHIFT_REGISTRY}/${OPENSHIFT_NAMESPACE}/keycloak-xs2a"

  # XS2A IDP ASPSP Profile
  GITLAB_IMAGE_NAME_ASPSP_PROFILE: "${GITLAB_REGISTRY}/${GITLAB_NAMESPACE}/xs2a-aspsp-profile"
  OPENSHIFT_IMAGE_NAME_ASPSP_PROFILE: "${OPENSHIFT_REGISTRY}/${OPENSHIFT_NAMESPACE}/xs2a-aspsp-profile"

  JAVA_TOOL_OPTIONS: "-Xmx350M"

  GITHUB_REPO: "adorsys/xs2a"

# ------------------------------------------------------------------
# reusable yaml anchors
# ------------------------------------------------------------------

# release on all tags created by mvn release:prepare
.release_condition: &release_condition
  only:
    - develop

.java_artifacts: &java_artifacts
  paths:
    - "xs2a-impl/target/aspsp-xs2a*jar"
    - "consent-management-system/target/consent-management*jar"
    - "aspsp-profile/target/aspsp-profile*jar"
    - "aspsp-mock-server/target/aspsp-mock-server*jar"
    - "aspsp-idp/keycloak-provider-extension/keycloak-clientregistration-provider/target/keycloak-clientregistration-provider.jar"
  name: "$CI_PROJECT_NAME-${CI_BUILD_REF_NAME#*v}"

.build_java: &build_java
  stage: "build:src"
  image: "adorsys/openjdk-build-base:8"
  tags:
    - aws_docker
  script:
    - mvn -DskipTests clean install

.build_image_script: &build_image_script
  tags:
    - aws_shell
  script:
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $GITLAB_REGISTRY

    - docker build -t "$GITLAB_IMAGE_NAME_XS2A:$DOCKER_TAG" spi-mock
    - docker push "$GITLAB_IMAGE_NAME_XS2A:$DOCKER_TAG"

    - docker build -t "$GITLAB_IMAGE_NAME_MOCKSRV:$DOCKER_TAG" aspsp-mock-server
    - docker push "$GITLAB_IMAGE_NAME_MOCKSRV:$DOCKER_TAG"

    - docker build -t "$GITLAB_IMAGE_NAME_KEYCLOAK:$DOCKER_TAG" aspsp-idp
    - docker push "$GITLAB_IMAGE_NAME_KEYCLOAK:$DOCKER_TAG"

    - docker build -t "$GITLAB_IMAGE_NAME_CNT_MGMNT:$DOCKER_TAG" consent-management-system
    - docker push "$GITLAB_IMAGE_NAME_CNT_MGMNT:$DOCKER_TAG"

    - docker build -t "$GITLAB_IMAGE_NAME_ASPSP_PROFILE:$DOCKER_TAG" aspsp-profile
    - docker push "$GITLAB_IMAGE_NAME_ASPSP_PROFILE:$DOCKER_TAG"

.deploy_image_script: &deploy_image_script
  tags:
    - aws_shell
  script:
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $GITLAB_REGISTRY
    - docker login -u openshift -p $OPENSHIFT_TOKEN $OPENSHIFT_REGISTRY

    - docker pull $GITLAB_IMAGE_NAME_XS2A:$DOCKER_TAG
    - docker tag $GITLAB_IMAGE_NAME_XS2A:$DOCKER_TAG $OPENSHIFT_IMAGE_NAME_XS2A:$DOCKER_TAG
    - docker push $OPENSHIFT_IMAGE_NAME_XS2A:$DOCKER_TAG

    - docker pull $GITLAB_IMAGE_NAME_MOCKSRV:$DOCKER_TAG
    - docker tag $GITLAB_IMAGE_NAME_MOCKSRV:$DOCKER_TAG $OPENSHIFT_IMAGE_NAME_MOCKSRV:$DOCKER_TAG
    - docker push $OPENSHIFT_IMAGE_NAME_MOCKSRV:$DOCKER_TAG

    - docker pull $GITLAB_IMAGE_NAME_KEYCLOAK:$DOCKER_TAG
    - docker tag $GITLAB_IMAGE_NAME_KEYCLOAK:$DOCKER_TAG $OPENSHIFT_IMAGE_NAME_KEYCLOAK:$DOCKER_TAG
    - docker push $OPENSHIFT_IMAGE_NAME_KEYCLOAK:$DOCKER_TAG

    - docker pull $GITLAB_IMAGE_NAME_CNT_MGMNT:$DOCKER_TAG
    - docker tag $GITLAB_IMAGE_NAME_CNT_MGMNT:$DOCKER_TAG $OPENSHIFT_IMAGE_NAME_CNT_MGMNT:$DOCKER_TAG
    - docker push $OPENSHIFT_IMAGE_NAME_CNT_MGMNT:$DOCKER_TAG

    - docker pull $GITLAB_IMAGE_NAME_ASPSP_PROFILE:$DOCKER_TAG
    - docker tag $GITLAB_IMAGE_NAME_ASPSP_PROFILE:$DOCKER_TAG $OPENSHIFT_IMAGE_NAME_ASPSP_PROFILE:$DOCKER_TAG
    - docker push $OPENSHIFT_IMAGE_NAME_ASPSP_PROFILE:$DOCKER_TAG

# ------------------------------------------------------------------
# stages
# ------------------------------------------------------------------

stages:
  - "build:src"    # build jar and provide as artifact
  - "build:qa"     # run tests and code quality checks
  - "build:image"  # dockerize jar and push to gitlab registry
  - "deploy"       # push to openshift registry (snapshot deployment) or release registry


# ------------------------------------------------------------------
# jobs
# ------------------------------------------------------------------

build_package:
  <<: *build_java
  artifacts:
    <<: *java_artifacts
    expire_in: "1 day"

pmd_report:
  stage: "build:src"
  image: "adorsys/openjdk-build-base:8"
  tags:
    - aws_docker
  script:
    - mvn -DskipTests clean install
    - mvn pmd:pmd
  artifacts:
    paths:
    - "qa/pmd/pmd-ruleset.xml"
    - "**/**/*/pmd.html"
    - "**/*/pmd.xml"
    name: "$CI_PROJECT_NAME-${CI_BUILD_REF_NAME#*v}-pmd"
    expire_in: "10 day"

check_pmd:
  stage: "build:qa"
  image: "adorsys/openjdk-build-base:8"
  tags:
    - aws_docker
  script:
    - mvn -DskipTests clean install
    - mvn pmd:check

check_javadoc:
  stage: "build:qa"
  image: "adorsys/openjdk-build-base:8"
  tags:
    - aws_docker
  script:
    - mvn -DskipTests clean install
    - mvn javadoc:javadoc
  artifacts:
    paths:
    - "**/target/site/*"
    name: "$CI_PROJECT_NAME-${CI_BUILD_REF_NAME#*v}-javadoc"
    expire_in: "10 day"

unit_tests:
  stage: "build:qa"
  image: "adorsys/openjdk-build-base:8"
  tags:
    - aws_docker
  script:
    - mvn --fail-at-end clean install
  artifacts:
    paths:
    - "**/target/surefire-reports/*"
    name: "$CI_PROJECT_NAME-${CI_BUILD_REF_NAME#*v}-*"
    expire_in: "10 day"


# Develop

build_image_integ:
  stage: "build:image"
  only:
    - develop
  variables:
    DOCKER_TAG: integ
  environment:
    name: integ
    url: https://xs2a.integ.cloud.adorsys.de
  <<: *build_image_script

deploy_image_integ:
  stage: deploy
  only:
    - develop
  environment:
    name: integ
    url: https://xs2a.integ.cloud.adorsys.de
  variables:
    DOCKER_TAG: integ
  <<: *deploy_image_script

# Master

build_image_master:
  stage: "build:image"
  only:
    - master
  variables:
    DOCKER_TAG: latest
  environment:
    name: demo
    url: https://xs2a.cloud.adorsys.de
  <<: *build_image_script

deploy_image_master:
  stage: deploy
  only:
    - master
  variables:
    DOCKER_TAG: latest
  environment:
    name: demo
    url: https://xs2a.cloud.adorsys.de
  <<: *deploy_image_script

# Release

build_image_release:
  stage: "build:image"
  only:
    - tags
  variables:
    DOCKER_TAG: $CI_COMMIT_TAG
  <<: *build_image_script

deploy_image_release:
  stage: deploy
  only:
    - tags
  when: manual
  variables:
    DOCKER_TAG: $CI_COMMIT_TAG
  <<: *deploy_image_script

