# ------------------------------------------------------------------
# variables
# ------------------------------------------------------------------

variables:
  GITLAB_REGISTRY: "gitlab-registry.adorsys.de"
  OPENSHIFT_REGISTRY: "openshift-registry.adorsys.de:443"

  GITLAB_IMAGE_NAME_XS2A: "gitlab-registry.adorsys.de/adorsys/xs2a/aspsp-xs2a"
  OPENSHIFT_IMAGE_NAME_XS2A: "openshift-registry.adorsys.de:443/multibanking-xs2a/aspsp-xs2a"

  GITLAB_IMAGE_NAME_MOCKSRV: "gitlab-registry.adorsys.de/adorsys/xs2a/aspsp-xs2a/aspsp-mock-server"
  OPENSHIFT_IMAGE_NAME_MOCKSRV: "openshift-registry.adorsys.de:443/multibanking-xs2a/aspsp-mock-server"

  GITHUB_REPO: "adorsys/xs2a"
# ------------------------------------------------------------------
# reusable yaml anchors
# ------------------------------------------------------------------

# release on all tags created by mvn release:prepare
.release_condition: &release_condition
  only:
    - develop

.java_artifacts: &java_artifacts
  paths:
    - "xs2a-impl/target/aspsp-xs2a*jar"
    - "aspsp-mock-server/target/aspsp-mock-server*jar"
    - "config/*.yml"
  name: "$CI_PROJECT_NAME-${CI_BUILD_REF_NAME#*v}"

.build_java: &build_java
  stage: "build:src"
  image: "adorsys/openjdk-build-base:8"
  tags:
    - aws_docker
  script:
    - mvn clean install
    - mvn pmd:check

.build_image_script: &build_image_script
  tags:
    - aws_shell
  script:
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $GITLAB_REGISTRY
    - docker build -t "$GITLAB_IMAGE_NAME_XS2A:$DOCKER_TAG" xs2a-impl
    - docker push "$GITLAB_IMAGE_NAME_XS2A:$DOCKER_TAG"
    - docker build -t "$GITLAB_IMAGE_NAME_MOCKSRV:$DOCKER_TAG" aspsp-mock-server
    - docker push "$GITLAB_IMAGE_NAME_MOCKSRV:$DOCKER_TAG"

.deploy_image_script: &deploy_image_script
  tags:
    - aws_shell
  script:
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $GITLAB_REGISTRY
    - docker pull $GITLAB_IMAGE_NAME_XS2A:$DOCKER_TAG
    - docker pull $GITLAB_IMAGE_NAME_MOCKSRV:$DOCKER_TAG
    - docker tag $GITLAB_IMAGE_NAME_XS2A:$DOCKER_TAG $OPENSHIFT_IMAGE_NAME_XS2A:$DOCKER_TAG
    - docker tag $GITLAB_IMAGE_NAME_MOCKSRV:$DOCKER_TAG $OPENSHIFT_IMAGE_NAME_MOCKSRV:$DOCKER_TAG
    - docker login -u openshift -p $OPENSHIFT_TOKEN $OPENSHIFT_REGISTRY
    - docker push $OPENSHIFT_IMAGE_NAME_XS2A:$DOCKER_TAG
    - docker push $OPENSHIFT_IMAGE_NAME_MOCKSRV:$DOCKER_TAG

# ------------------------------------------------------------------
# stages
# ------------------------------------------------------------------

stages:
  - "build:src"    # build jar and provide as artifact
  - "sync_repos"   # push sources to github repository
  - "build:image"  # dockerize jar and push to gitlab registry
  - "deploy"       # push to openshift registry (snapshot deployment) or release registry


# ------------------------------------------------------------------
# jobs
# ------------------------------------------------------------------

build_package:
  <<: *build_java
  artifacts:
    <<: *java_artifacts
    expire_in: "1 day"

check_pmd:
  stage: "build:src"
  image: "adorsys/openjdk-build-base:8"
  tags:
    - aws_docker
  script:
    - mvn -DskipTests clean install
    - mvn pmd:pmd
  artifacts:
    paths:
    - "qa/pmd/pmd-ruleset.xml"
    - "**/**/*/pmd.html"
    - "**/*/pmd.xml"
    name: "$CI_PROJECT_NAME-${CI_BUILD_REF_NAME#*v}"
    expire_in: "10 day"

# Develop

build_image_integ:
  stage: "build:image"
  only:
    - develop
  variables:
    DOCKER_TAG: integ
  environment:
    name: integ
    url: https://xs2a.integ.cloud.adorsys.de
  <<: *build_image_script

deploy_image_integ:
  stage: deploy
  only:
    - develop
  environment:
    name: integ
    url: https://xs2a.integ.cloud.adorsys.de
  variables:
    DOCKER_TAG: integ
  <<: *deploy_image_script

# Master

build_image_master:
  stage: "build:image"
  only:
    - master
  variables:
    DOCKER_TAG: latest
  environment:
    name: demo
    url: https://xs2a.cloud.adorsys.de
  <<: *build_image_script

deploy_image_master:
  stage: deploy
  only:
    - master
  variables:
    DOCKER_TAG: latest
  environment:
    name: demo
    url: https://xs2a.cloud.adorsys.de
  <<: *deploy_image_script

# Release

build_image_release:
  stage: "build:image"
  only:
    - tags
  variables:
    DOCKER_TAG: $CI_COMMIT_TAG
  <<: *build_image_script

deploy_image_release:
  stage: deploy
  only:
    - tags
  when: manual
  variables:
    DOCKER_TAG: $CI_COMMIT_TAG
  <<: *deploy_image_script

# Push to Github

push_on_github:
  stage: "sync_repos"
  image: alpine/git:1.0.4
  when: manual
  script:
      - git remote add github https://${GITHUB_USERNAME}:${GITHUB_TOKEN}@github.com/${GITHUB_REPO}.git
      - git config push.default simple
      - git checkout ${CI_COMMIT_REF_NAME}
      - git fetch github
      - git push --follow-tags --atomic github
