.page {
  font-family: "Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  color: #33333382;
  font-weight: lighter;

  &-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &__header {
    height: 100px;
    position: relative;
  }

  __footer {
    padding: 10px;
  }
}

.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  &__logo img {
    display: inline-block;
    width: auto;
    height: 26px;
    padding: 0 20px 0 40px;
  }

  &__title {
    display: inline-block;
    font-size: 28px;
    color: #0B3D5F;
    font-weight: bolder;
    margin: 0 0 6px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  padding-top: 3vh;
  align-items: center;
  width: 50%;

  &__title {
    display: block;
    text-align: center;
    color: #333333f0;
    font-size: 32px;
    justify-content: center;
    align-items: center;
  }

  &__text {
    display: block;
    text-align: center;
    line-height: 60px;
    font-size: 23px;
    font-weight: 300;
    margin: auto;
    padding-top: 1.2vh;
    width: 750px;
  }

  &__account{
    display: flex;
    justify-content: space-between;
    width: 600px;
    padding: 0px;
    list-style: none;
  }

  &__account span{
    font-weight: 400;
    color: #333333f0;
    font-size: 20px;
  }

  &__list {
    display: block;
    align-items: center;
    line-height: 40px;
    font-size: 20px;
    list-style-type: none;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: 400;
    color: #333333f0;

  }

  &__list li{
    font-weight: 100;
    font-size: 18px;
    color: #333333f0;
  }

  &__icon img {
    width: 80px;
    height: auto;
    padding-bottom: 20px;
  }
}

.authentication {
  padding-top: 10px;
  padding-bottom: 55px;
  font-weight: 200;

  label {
    display: block;
    justify-content: center;
    font-size: 20px;
    padding-top: 36px;
    padding-bottom: 10px;
    text-align: left;
  }

  input {
    display: block;
    justify-content: center;
    border-width: 0 0 2px;
    border-color: #33333336;
    padding: 10px 10px;
    font-size: 24px;
    font-weight: 300;
    width: 400px;

    &--text [type="text"] {
      font-size: 24px;
      font-weight: 300;
    }

    &--pw [type="password"] {
      -webkit-text-security: disc !important;
    }
  }
}

.button-large {
  display: block;
  background-color: #0E6EB4;
  border: none;
  color: #ffffff;
  padding: 10px;
  width: 422px;
  font-size: 22px;
  border-radius: 1px;
  font-weight: lighter;
  justify-content: center;
}



.buttons-small {
  display: flex;
  font-size: 22px;
  margin: 0 10px 0 10px;
  width: 500px;
  padding: 10px;
  justify-content: space-around;
  border-radius: 1px;

  & .disabled {
    background-color: lightgray;
  }

}

.button-small {
  display: block;
  font-size: 22px;
  border-radius: 1px;
  justify-content: center;
  padding: 10px;
  width:200px;
  font-weight: lighter;

}

.btn {
  &--continue {
    display: inline-block;
    background-color: #0E6EB4;
    color: white;
    font-weight: 100;
  }

  &--cancel {
    display: inline-block;
    background-color: #ffffff;
    color: #33333382;
    border-color: #33333369;
    font-weight: 300;
  }
}

.paymentDetail {
  font-weight: bold;
}
