<div class="page">
  <div class="page-inner">
    <div class="container">
      <div class="container__icon">
        <img src="../assets/image/confirmation-successful.png" alt="adorsys logo" />
      </div>
      <h1 class="container__title">Confirmation Successful</h1>
      <p class="container__text">Thanks. You have successfully confirmed your payment request.</p>
      <div class="authentication">
      </div>
      <button type="button" name="decision" value="revoked" class="button-small btn--continue" [routerLink]="['/consentconfirmationsuccessful']">Continue</button>
    </div>
  </div>
</div>