/*
 * Copyright 2018-2022 adorsys GmbH & Co KG
 *
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU Affero General Public License as published
 * by the Free Software Foundation, either version 3 of the License, or (at
 * your option) any later version. This program is distributed in the hope that
 * it will be useful, but WITHOUT ANY WARRANTY; without even the implied
 * warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program. If not, see https://www.gnu.org/licenses/.
 *
 * This project is also available under a separate commercial license. You can
 * contact us at psd2@adorsys.com.
 */

.page {
    font-family: "Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #054f72;
    background-color: #fafafa;
    font-weight: lighter;
    text-align: center;
    font-size: 112%;
}

.header {
    padding: 1%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.header img{
    display: inline-block;
    width: auto;
    height: 25px;
    padding: 0 20px 0 10px;
}


.header__title {
    display: inline-block;
    font-size: 27px;
    font-weight: bolder;
    color: #054f72;
    margin: 0 0 6px;
}

.container {
    padding-top: 4%;
    display: flex;
    justify-content: center;
}

.elements {
    display:flex;
    flex-direction: column;
    background-color: white;
    padding: 0.5%;
    width: 35%;
    border-radius: 0.1%;
    align-items: center;
    box-shadow: 10px 10px 8px -6px rgba(0,0,0,0.25);

}

.elements li{
    padding: 5%;
}

.elements a {
    text-decoration: underline;
    color: #065d87;
}


a:hover {
    background-color: lightskyblue;
}


.minicontainer {
    display: block;
    text-align: left;
    background-color: #e6eff3;
    width: 65%;
    margin: 1% 5% 6% 5%;
    border-radius: 0.1%;
}