<div class="page">
  <div class="page-inner">
    <div class="container">
      <h1 class="container__title">Confirm New Payment</h1>
      <p class="container__text">
        Please check if the details below are correct. If so, select 'Confirm', or select 'Deny', if you no longer wish to continue.</p>
      <div *ngIf="singlePayments">
      <ul class="container__list" *ngFor="let payment of singlePayments.payments">
        <li>Payee:
          <span>{{payment.ultimateCreditor}}</span>
        </li>
        <li>Account No:
          <span>{{payment.creditorAccount.iban}}</span>
        </li>
        <li>Reference:
          <span>{{payment.remittanceInformationUnstructured}}</span>
        </li>
        <li>Amount:
          <span>{{payment.amount | currency:'EUR':'symbol':'':'de'}}</span>
        </li>
        <li>Date:
          <span>{{payment.requestedExecutionDate | date:'mediumDate':'':'de'}}</span>
        </li>
      </ul>
      </div>
      <div class="buttons-small">
        <button (click)="onClickCancel()" type="button" name="decision" value="revoked" class="buttons-small btn--cancel">
          Deny
        </button>

        <button (click)="onClickContinue()" type="button" name="decision" value="confirmed" class="buttons-small btn--continue">
          Continue
        </button>
      </div>
    </div>
  </div>
</div>
