html.login-pf-page {
  font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  color: #33333382;
  font-weight: lighter;
}

#kc-header{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding-top: 30px;

}
#kc-header-wrapper {
  display: inline-block;
  font-size: 28px;
  color: #0B3D5F;
  margin: 0 0 3px;
  font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-weight: 400;
}

#kc-header-img {
  display: inline-block;
  width: auto;
  height: 26px;
  padding: 0 20px 0 40px;
}

div.card-pf {
  font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  display: flex;
  flex-direction: column;
  padding-top: 3vh;
  align-items: center;
  width: 50%;
  margin: auto;
  margin-top: 5em;
  color: #33333382;
}

#kc-page-title{
  display: block;
  text-align: center;
  color: black;
  font-size: 35px;
  justify-content: center;
  align-items: center;
  font-weight: 500;

}

.card-subtitle {
  display: block;
  text-align: center;
  line-height: 40px;
  font-size: 23px;
  font-weight: 300;
  margin: auto;
  padding-top: 1.2vh;
  color: #33333382;
  padding-top: 40px;
}

#kc-content{
  display: flex;
  width: 75%;
  justify-content: center;
}

#kc-form {
  width: 400px;
}

.form-group{
  display: flex;
  flex-direction: column;
}

.control-label{
  display: block;
  justify-content: center;
  font-size: 20px;
  padding-top: 36px;
  padding-bottom: 10px;
  text-align: left;
  font-weight: 300;
}

.form-control{
  display: block;
  justify-content: center;
  border-width: 0 0 2px;
  border-color: #33333336;
  padding: 10px 10px;
  font-size: 24px;
  font-weight: 300;
  width: 400px;
}

#kc-form-buttons {
  display: flex;
  justify-content: center;
  background-color: #0E6EB4;
  border: none;
  color: #ffffff;
  width: 420px;
  height: 50px;
  font-size: 22px;
  border-radius: 1px;
  font-weight: lighter;
  justify-content: center;
  margin-top: 50px;
}

#kc-login {
  font-size: 100%;
  font-weight: lighter;
  background-color: #0E6EB4;
  width: 100%;
  border: none;
  color: white;
}
