<div class="page">
  <div class="page-inner">
    <div class="container">
      <div class="container__icon">
        <img src="../assets/image/confirmation-denied.png" alt="adorsys logo" />
      </div>
      <h1 class="container__title">Confirmation Denied</h1>
      <p class="container__text">You decline to make a payment. Payment has failed.</p>
      <div class="authentication">
      </div>
      <a href="http://localhost:8080/swagger-ui.html">
        <button type="button" name="decision" value="revoked" class="button-small btn--continue">Continue</button>
      </a>
    </div>
  </div>
</div>
