<!--
  ~ Copyright 2018-2022 adorsys GmbH & Co KG
  ~
  ~ This program is free software: you can redistribute it and/or modify it
  ~ under the terms of the GNU Affero General Public License as published
  ~ by the Free Software Foundation, either version 3 of the License, or (at
  ~ your option) any later version. This program is distributed in the hope that
  ~ it will be useful, but WITHOUT ANY WARRANTY; without even the implied
  ~ warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  ~ See the GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see https://www.gnu.org/licenses/.
  ~
  ~ This project is also available under a separate commercial license. You can
  ~ contact us at psd2@adorsys.com.
  -->

<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <property name="LOGS_HOME" value="logs" />
    <property name="WHITESPACE" value="%1X{key-that-does-not-exist}"/>
    <property name="MDC_PATTERN"
              value="InR-ID: [%X{internal-request-id}], X-Request-ID: [%X{x-request-id}], Instance-ID: [%X{instance-id}],${WHITESPACE}"/>
    <property name="EMPTY_MDC_VALUES_REGEX" value="[\\w-]+: \\[\\][, ]+"/>
    <property name="LOG_MESSAGE" value="%replace(${MDC_PATTERN}){'${EMPTY_MDC_VALUES_REGEX}', ''}%m"/>
    <property name="LOGS_PATTERN"
              value="%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} ${LOG_MESSAGE} %n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="de.adorsys.psd2.xs2a.web.util.LogbackPatternLayout">
            <pattern>${LOGS_PATTERN}</pattern>
        </layout>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <layout class="de.adorsys.psd2.xs2a.web.util.LogbackPatternLayout">
            <pattern>${LOGS_PATTERN}</pattern>
        </layout>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_HOME}/%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!-- Uncomment the next line block to make access-logger write logs to file, mentioned in <fileNamePattern> tag -->
    <!--<appender name="FILE-ACCESS" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<encoder>-->
            <!--<pattern>[%-5level][%d{HH:mm:ss.SSS}][%thread] - %msg%n</pattern>-->
        <!--</encoder>-->

        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--<fileNamePattern>${LOGS_HOME}/access/xs2a-access.%d{yyyy-MM-dd}.%i.log</fileNamePattern>-->
            <!--<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
                <!--<maxFileSize>10MB</maxFileSize>-->
            <!--</timeBasedFileNamingAndTriggeringPolicy>-->
        <!--</rollingPolicy>-->
    <!--</appender>-->

    <!-- Uncomment the lines below to make request-logger write logs to the file, specified in <fileNamePattern> tag -->
    <!--    <appender name="FILE-REQUEST" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
    <!--        <encoder>-->
    <!--            <pattern>[%-5level][%d{HH:mm:ss.SSS}][%thread] - %msg%n</pattern>-->
    <!--        </encoder>-->

    <!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
    <!--            <fileNamePattern>${LOGS_HOME}/request/xs2a-request.%d{yyyy-MM-dd}.%i.log</fileNamePattern>-->
    <!--            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
    <!--                <maxFileSize>10MB</maxFileSize>-->
    <!--            </timeBasedFileNamingAndTriggeringPolicy>-->
    <!--        </rollingPolicy>-->
    <!--    </appender>-->

    <logger name="org.springframework" level="WARN"/>
    <logger name="springfox.documentation" level="OFF"/>
    <logger name="org.hibernate.validator" level="OFF"/>
    <logger name="org.apache.http" level="WARN"/>
    <logger name="org.hibernate" level="ERROR"/>

    <root level="DEBUG">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- Logger, that is responsible to log all XS2A requests and responses -->
    <logger name="access-log" level="info" additivity="false">
        <!-- Uncomment the next line to make access-logger write logs to file, mentioned in FILE-ACCESS inside <fileNamePattern> tag -->
        <!--<appender-ref ref="FILE-ACCESS" />-->
        <appender-ref ref="STDOUT" />
    </logger>

    <!-- Logger, responsible for logging full payload of XS2A requests and responses -->
    <logger name="request-log" level="info" additivity="false">
        <!-- Uncomment the next line to make request-logger write logs to file, mentioned in FILE-REQUEST inside <fileNamePattern> tag -->
        <!-- <appender-ref ref="FILE-REQUEST" />-->
        <appender-ref ref="STDOUT"/>
    </logger>

</configuration>
